.boxForm{
    width: 80%;
    text-align: center;
    margin: 4rem auto 0;
}

.boxForm .form{
    background-color: rgba(64, 115, 163, 0.267);
    width:fit-content;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10%;
    box-shadow: 0 0 20px rgba(151, 150, 150, 0.377);
}